@model IEnumerable<PharmacyMedicineSupply.Models.Supply>

@{
    ViewData["Title"] = "DisplaySupply";
}


<div class="container">
    <table class="table table-hover table-bordered mt-5">
        <thead class="table-danger">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PharmacyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplyCount)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PharmacyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplyCount)
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>